/* FONTS */
/* overpass-300 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/overpass-v5-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/overpass-v5-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* overpass-600 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/overpass-v5-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/overpass-v5-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-regular - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-500 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/ubuntu-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* ubuntu-700 - latin */
@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ubuntu-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/ubuntu-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Variables */
:root{
--body:#f2f2f2;
--white:#ffffff;
--light-grey:rgba(255, 255, 255,0.75);
--dark-grey:#4C5862;;
--red:#FF505C; 
--red-hover:#FF7B86;
--black:#1F3E5A;
--droptext:#2D2E40;
--footer-bg:#24242c;
}

/*Main Styles*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Overpass", "Arial", sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  background-color: var(--body);
  color: var(--dark-grey);
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* HEADER */

.site-header{ 
  background: linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
  border-radius: 0px 0px 0px 100px;
  margin-bottom: 150px;
}

.header-container{
  display: flex;
  align-items: center;
  padding-top: 62px;
  padding-bottom: 119px;
}

.site-logo{
  margin-right: 64px;
}

.logo{
  display: block;
}
.sitenav-list{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  flex: 1;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.sitenav-item{
  position: relative;
}

.sitenav-item:not(:last-child){
  margin-right: 32px;
}

.sitenav-link{
  text-decoration: none;
  font-family: "Ubuntu","Arial",sans-serif;
font-weight: bold;
font-size: 16px;
line-height: 18px;
color: var(--light-grey);
display: flex;
align-items: center;
}

.sitenav-link:not(:nth-child(4)):not(:last-child)::after{
display: block;
content: "";
background-image: url(../images/icon-arrow-light.svg);
width: 10px;
height: 7px;
margin-top: 2px;
margin-left: 8px;
transition: transform 0.3s ease-in;
}

.sitenav-link:not(:nth-child(4)):not(:last-child):hover{
  text-decoration: underline;
  color:var(--white);
}

.login{
  margin-left: auto;
}

.btn{
  padding: 15px 40px;
  background-color: var(--white);
  border-radius: 28px;
  color: var(--red);
  transition: all 0.3s ease-in-out;
}

.btn:hover,
.btn1:hover{
  background-color: var(--red-hover);
  color: var(--white);
}
.dropdown-list-show{
  display:block;
  width: 168px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top: 100%;
  background: var(--white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  border-radius: 5px;
  list-style-type: none;
  padding: 24px;
  margin: 0;
  margin-top: 27px;
  transition: all 0.3s ease-in-out;
}

.dropdown-list{
  display: none;
  width: 168px;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  top: 100%;
  background: var(--white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  border-radius: 5px;
  list-style-type: none;
  padding: 24px;
  margin: 0;
  margin-top: 27px;
  transition: all 0.3s ease-in-out;
}


.sitenav-item:hover .dropdown-list{
display: block;
}
.sitenav-item:hover .sitenav-link::after{
  transform: rotate(180deg);
}
.dropdown-link{
font-weight: normal;
font-size: 15px;
line-height: 33px;
color: var(--droptext);
text-decoration: none;
}

.dropdown-link:hover{
  font-weight: 700;
}

.main-container{
  text-align: center;
  color: var(--white);
}

.header-title{
  margin: 0;
font-weight: 600;
font-size: 64px;
line-height: 98px;
letter-spacing: -1.92px;
}

.header-text{
  margin: 0;
  font-weight: 300;
font-size: 20px;
line-height: 31px;
margin-bottom: 48px;
}

.header-item{
  margin-bottom: 155px;
  margin-left: 8px;
  margin-right: 8px;
}

.btn1{
  padding: 15px 17px;
  background-color: var(--white);
  border-radius: 28px;
  color: var(--red);
  transition: all 0.3s ease-in-out;
}

.btn-outline{
  padding:14px 17px;
  border: 1px solid var(--white);
  background-color: transparent;
  color: var(--white);
}

.btn-outline:hover{
  background-color: var(--white);
  color: var(--red-hover);
}

.site-content{
  position: relative;
}

.design{
  margin-bottom: 262px;
}

.design-title{
  margin-bottom: 93px;
font-weight: 600;
font-size: 40px;
line-height: 61px;
text-align: center;
letter-spacing: -1.2px;
color: var(--black);
}

.design-item{
  width: 540px;
}

.design-item-title{
margin: 0;
margin-top: 64px;
font-weight: 600;
font-size: 28px;
line-height: 28px;
color: var(--black);
}

.design::before{
  display: block;
  content:"";
  background-image: url(../images/illustration-editor-desktop.svg);
  width: 683px;
  height: 882px;
  position: absolute;
  right: -0;
  top: -79px;
}

.phone{
  background: linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
border-radius: 0px 100px;
margin-bottom: 301px;
}

.phone-container::before{
  z-index: 100;
  display: block;
  content: "";
  background-image: url(../images/illustration-phones.svg);
  width: 552px;
  height: 579px;
  position: absolute;
  left: -20px;
  top: -70px;
}

.phone-container{
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.phone-description{
  width: 540px;
  padding-top: 111px;
  padding-bottom: 111px;
}

.phone-description-title{
  margin: 0;
  font-weight: 600;
font-size: 40px;
line-height: 61px;
letter-spacing: -1.2px;
color: var(--white);
margin-bottom: 5px;
}

.phone-description-text{
  margin: 0;
  color: var(--white);
}

.phone-img{
  position: absolute; 
  left: 0;
  top: -64px;
}

.desktop-container{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 308px;
}
.desktop{
  position: relative;
}
.desktop-head::before{
  display: block;
  content:"";
  background-image: url(../images/illustration-laptop-desktop.svg);
  width: 974px;
  height: 786px;
  position: absolute;
  left: -275px;
  top: -125px;
}

.site-footer{
background: var(--footer-bg);
border-radius: 0px 100px 0px 0px;
}

.footer-menu{
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.footer-list{
  padding: 0;
  list-style-type: none;
}

.footer-title{
  margin: 0;
  margin-bottom: 21px;
  font-weight: 500;
font-size: 15px;
line-height: 33px;
color: var(--white);
}
.footer-link{
  text-decoration: none;
  color: var(--light-grey);
  font-weight: normal;
font-size: 15px;
line-height: 33px;
}
.footer-link:hover{
  text-decoration: underline;
}
.footer-container{
  padding: 70px 0;
}
.logo-item{
  margin-right: 184px;
}

.footer-menu-item:not(:first-child){
  flex: 1;
}